.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-centered {
  position: absolute;
  bottom: 4px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
